---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Jason King-Lowe"
  description="About Jason King-Lowe: Full-Stack Engineer with a passion for user-centric tech solutions"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About Me"
        tagline="From Commodore VIC 20 to Full-Stack Engineering: A Journey of Curiosity and Code"
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.jpg"
          alt="Jason King-Lowe at work with a colleague"
        />
      </Hero>

      <section>
        <h2 class="section-title">The Spark: A Lifelong Passion for Tech</h2>
        <div class="content">
          <p>
            My journey into the world of technology began with a Commodore VIC
            20 and a stack of computing magazines. As a child, I'd sit with my
            parents, eagerly typing in code from "Compute's Gazette." Watching
            those lines transform into working programs wasn't just fun—it was
            magical. That's when I realized: I could make computers do what I
            wanted. This early fascination blossomed into a lifelong passion for
            technology that drives me to this day.
          </p>
        </div>
      </section>

      <section>
        <h2 class="section-title">
          The Quest: From Support to Full-Stack Engineering
        </h2>
        <div class="content">
          <p>
            My career path took an exciting turn through IT support, where I
            honed my skills in remote troubleshooting and user experience.
            Translating 'end-user speak' into actionable tech solutions became
            my superpower, leading to top-notch customer satisfaction ratings.
            But I wanted more. I dove into self-teaching, mastering modern
            languages like JavaScript, Python, and SQL, and frameworks like
            Node.js, React, and Redux.
          </p>
          <p>
            Now, as a full-stack engineer, I bring that same childhood wonder to
            every project. Whether it's crafting responsive UIs with React,
            building robust APIs with Node.js, or wrangling data with SQL and
            Python, I love the challenge of creating solutions that are as
            elegant under the hood as they are intuitive for users.
          </p>
        </div>
      </section>

      <section>
        <h2 class="section-title">The Philosophy: Tech with a Human Touch</h2>
        <div class="content">
          <p>
            My time in IT support taught me a crucial lesson: great tech is
            about people. It's not just about fixing bugs or optimizing
            algorithms (though I love doing both). It's about empathy, about
            understanding the user's frustrations and aspirations. This
            human-centric approach guides everything I do. I don't just write
            code; I craft experiences that delight and empower users.
          </p>
        </div>
      </section>

      <section>
        <h2 class="section-title">The Projects: Bringing Ideas to Life</h2>
        <div class="content">
          <p>
            In my <a href="/projects">Projects</a> section, you'll see this philosophy
            in action. Each project, from my responsive portfolio site to my Node.js-powered
            API services, represents a problem solved, a user experience enhanced,
            or a clever bit of code that I'm particularly proud of. They showcase
            not just my technical skills, but my commitment to clean, maintainable
            code and intuitive design.
          </p>
        </div>
      </section>

      <section>
        <h2 class="section-title">
          The Future: Always Learning, Always Growing
        </h2>
        <div class="content">
          <p>
            The tech world never stands still, and neither do I. I'm always
            exploring new languages, frameworks, and paradigms. Currently, I'm
            diving deeper into machine learning, AI and large language models. I'm excited by
            their potential to create more scalable and efficient web
            applications.
          </p>
          <p>
            I bring this hunger for knowledge to every team I'm part of. I
            believe in the power of collaboration, in sharing ideas and learning
            from peers. In a rapidly evolving field like ours, the ability to
            adapt and grow together is key.
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
